@font-face {
    src: url("./Libs/font/BaronNeue-Bold.otf");
    font-family: logo;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-100 {
    margin-top: 100px;
}

.font-bold {
    font-weight: bold;
}

.font-16 {
    font-size: 16px !important;
}

.main-background {
    position: absolute;
    background-color: rgb(226, 229, 229);
    width: 100%;
    height: 100%;
    z-index: -10000;
}

.bg-dark {
    color: white;
    background-color: black !important;
}

.w-49per {
    width: 49.5%;
}

.inline-block {
    display: inline-block;
}


/* button */

.btn-custom {
    border: none;
    min-width: 140px;
    min-height: 50px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-custom:hover {
    background-color: aliceblue;
}

.btn-borderCustom {
    border: none;
    border-radius: 50px;
    min-width: 140px;
    min-height: 50px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn-borderCustom:hover {
    cursor: pointer;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-family: logo;
    color: white;
    margin-bottom: 45px;
}


/* Form */

.alert {
    opacity: 0;
    color: white;
}

.form-input {
    width: 350px;
    height: 50px;
    border: none;
}

.form-container {
    position: absolute;
    padding: 50px 60px;
    top: 50%;
    left: 50%;
    background-color: #1C3F57;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/* Side bar */

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 45px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sidenav::-webkit-scrollbar {
    width: 0 !important;
}

.sidenav a,
.dropdown-btn {
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a {
    padding: 20px 8px 6px 0;
}

.dropdown-btn {
    padding: 6px 8px 6px 0;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: white;
}

.active {
    background-color: rgb(47, 47, 47) !important;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 55px;
}

.dropdown-container>a {
    color: white;
}

.dropdown-container>a:hover {
    color: burlywood;
}

.sidebar_item,
.dropdown-btn {
    height: 70px;
    color: white;
}

.sidebar_item:hover,
.dropdown-btn:hover {
    background-color: rgba(199, 199, 199, 0.664);
    color: white;
}

.sidebar_item-icon {
    margin: 0 10px 0 40px;
}

.icon-right {
    float: right;
    padding-left: 10px;
    margin-top: 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* main */

.main {
    margin: 80px 0 0 280px
}

.profile-navbar {
    height: 80px;
    background-color: black;
    padding-left: 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 280px);
    padding-top: 14px;
    z-index: 1000;
}

.profile {
    margin-left: 20px;
    float: left;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.profile_avatar {
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: rgb(86, 204, 171);
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile_name {
    color: white;
    margin: 0;
}

.profile_name>small {
    color: #ffc1d6;
}

.btn-black2white,
.btn-white2black {
    border: 2px solid black;
    min-width: 120px;
    height: 50px;
    margin-right: 30px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color .5s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn-black2white {
    background-color: black;
    color: white;
}

.btn-white2black {
    background-color: white;
    color: black;
}

.btn-black2white:hover {
    background-color: white;
    color: black;
}

.btn-white2black:hover {
    background-color: black;
    color: white;
}


/* Content */

.content {
    padding-top: 10px;
    margin-left: 20px;
}


/* List */

.list-table {
    margin: 77px 0 0 -20px;
}

.header_tables {
    position: sticky;
    top: 150px;
}


/* Search */

.search-container {
    width: calc(100% - 280px);
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: -35px;
    padding: 0 30px;
    top: 80px;
    height: 70px;
}

.search {
    border: none;
    border-bottom: 2px solid black;
    height: 40px;
    padding: 0 5px;
    width: calc(100% - 60px);
}